$primary: #6b9080;
$secondary: #1a3127;
$tertiary: #9adbbf;
$body-bg: #d0ffd4;

    @import '~bootstrap/scss/bootstrap.scss';

.nav {
    margin-bottom : 30px;

}

.FavoriteSongs {
    margin-bottom : 20px
}